@use 'src/assets/stylesheets/colors.scss' as c;
@use 'src/assets/stylesheets/styleVariables' as v;
@use 'src/assets/stylesheets/mixins.scss';

#header {
	position: absolute;
	top: 0;
	width: 100%;
	height: v.$logoSize;
	padding: v.$logoPadding 0;
	display: flex;
	align-items: center;
	background-color: c.$primary;
	div {
		padding-left: 2rem + v.$logoPadding;
		margin: 0 1.5rem;
		width: 100%;
		display: flex;
		a {
			@include mixins.link;
			padding: 0 1rem 0 0;
		}
	}
}
.contact-nav {
	@include mixins.link;
	padding: 0 1rem;
	margin-left: auto;
}