@use '../common/styleVariables.scss' as v;
@use '../common/colors.scss' as c;

#introduction {
	padding: 0 0 1rem 0;
}
#introduction-info {
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-template-rows: repeat( auto-fit, minmax(80px, 1fr) );
	row-gap: 1rem;
	background-color: c.$primary;
	padding: 20vh 10vw 10vw 10vw;
	color: c.$background;
}
#download-resume-btn {
	color: c.$secondary;
	background-color: c.$background;
	border-style: none;
	border-radius: 15px;
	width: 5.5rem;
	margin: 1rem 0 0 0;
	justify-self: flex-start;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	&:hover {
		cursor: pointer;
	}
}
.name-and-position {
	display: grid;
	row-gap: 1rem;
	h1 {
		margin: 0;
		font-size: 8vh;
		align-self: flex-end;
		z-index: 1;
	}
	h3 {
		font-weight: 300;
		margin: 0 .2rem;
		z-index: 1;
	}
}
.introduction-paragraphs{
	display: grid;
	row-gap: 1rem;
	margin: 0 40% 0 0;
	p {
		margin: 0;
		padding: 0 2rem 0 0;
		text-align: justify;
		z-index: 1;
	}
}
.transition img {
	height: 5vh;
	width: 100%;
}